{{#linkIcon}}{{#icon}}{{linkIcon}}{{/icon}}{{/linkIcon}}{{linkText}}{{#linkBadge}}{{#badge}}{{linkBadge}}{{/badge}}{{/linkBadge}}{{#linkPopinRel}}{{#popin}}{{linkPopinRel}}{{/popin}}{{/linkPopinRel}}
