<{{tag}} id="{{id}}" class="media media-item {{cssClass}}">
<div class="media-box {{boxCssClass}}">
  {{#imageUrl}}
  <a href="{{imageUrl}}">
  {{/imageUrl}}
    <img class="media-object {{imageCssClass}}" src="{{imageSource}}" alt="{{imageAlt}}">
  {{#imageUrl}}
  </a>
  {{/imageUrl}}
    <div class="media-box-body {{boxItemsCssClass}}">
    </div>
</div>
<div class="media-body {{bodyCssClass}}">
  {{#options}}
    <div class="btn-group pull-right">
      {{> dropdown}}
    </div>
  {{/options}}
  {{#hasButtons}}
      <div class="btn-group pull-right {{buttonsCssClass}}">
        {{#buttons}}
            <a class="btn {{buttonCssClass}}" href={{buttonUrl}} role="button">
              {{#buttonIcon}}
                {{#icon}}{{buttonIcon}}{{/icon}}
              {{/buttonIcon}}
              {{buttonText}}
            </a>
        {{/buttons}}
      </div>
  {{/hasButtons}}
  {{#heading}}
      <h4 class="media-heading {{headingCssClass}}">
        {{#headingUrl}}
        <a href="{{headingUrl}}">
        {{/headingUrl}}
        {{heading}}
        {{#headingUrl}}
        </a>
        {{/headingUrl}}
      </h4>
  {{/heading}}
    <div class="media-text {{textCssClass}}">{{text}}</div>
  {{#hasAttachments}}
    {{#attachments}}

    {{/attachments}}
  {{/hasAttachments}}
  {{#hasMeta}}
      <ul class="media-meta {{metaCssClass}}">
        {{#meta}}
            <li role="presentation" class="media-meta-item {{metaItemCssClass}}">
              {{#metaIsLink}}
              <a href="{{metaUrl}}">
              {{/metaIsLink}}
              {{#metaIcon}}
                {{#icon}}{{meta.icon}}{{/icon}}
              {{/metaIcon}}
              {{metaLabel}}
              {{#metaHasLink}}
                  <a href="{{metaUrl}}">{{metaLinkText}}</a>
              {{/metaHasLink}}
              {{#metaBadge}}
                  <span class="badge">{{badge}}</span>
              {{/metaBadge}}
              {{#metaIsLink}}
              </a>
              {{/metaIsLink}}
            </li>
        {{/meta}}
      </ul>
  {{/hasMeta}}
  {{#hasMediaList}}
    {{>medialist}}
  {{/hasMediaList}}
</div>
</{{tag}}>
