<tr id="{{id}}" class="{{cssClass}} Item">
  {{#rows}}
    {{#isMainCell}}
        <td class="Name {{mainCssClass}}">
          {{{beforeContentOutput}}}
        <div class="Wrap">
            <span class="Options">
              {{#options}}
                {{> dropdown-legacy}}
              {{/options}}
              {{#hasButtons}}
                  <div class="Buttons {{buttonsCssClass}}">
                    {{#buttons}}
                        {{> button-legacy}}
                    {{/buttons}}
                  </div>
              {{/hasButtons}}
            </span>
          {{#hasImage}}
            {{#imageUrl}}
            <a href="{{imageUrl}}" class="Item-Icon PhotoWrap">
            {{/imageUrl}}
              <img class="ProfilePhoto ProfilePhotoMedium {{imageCssClass}}" src="{{imageSource}}" alt="{{imageAlt}}">
            {{#imageUrl}}
            </a>
            {{/imageUrl}}
          {{/hasImage}}
          {{#heading}}
            {{#headingUrl}}
            <h2><a class="{{headingClass}}" href="{{headingUrl}}">
            {{/headingUrl}}
            {{heading}}
            {{#headingUrl}}
            </a></h2>
            {{/headingUrl}}
          {{/heading}}
          {{{afterTitleOutput}}}
            <div class="Description {{textCssClass}}">{{text}}</div>

          {{!ChildCategories}}
            <!--<div class="Meta Meta-{{!section}}">-->
              {{!tags}}
            <!--</div>-->
          {{#hasMeta}}
              <ul class="{{metaCssClass}}">
                {{#meta}}
                  {{>metaitem}}
                {{/meta}}
              </ul>
          {{/hasMeta}}
            </div>
        </td>
    {{/isMainCell}}
    {{#isCountCell}}
        <td class="BigCount {{countSectionCssClass}}">
            <div class="Wrap">
                <span class="Number">{{countNumber}}</span>
            </div>
        </td>
    {{/isCountCell}}
    {{#isDefaultCell}}
        <td class="BlockColumn {{defaultCssClass}}">
            <div class="Wrap">
                <span class="Text">{{defaultText}}</span>
            </div>
        </td>
    {{/isDefaultCell}}
    {{#isUserCell}}
        <td class="BlockColumn BlockColumn-User {{userFirstOrLast}}User">
            <div class="Block Wrap">
              {{#userImageUrl}}
                  <a class="PhotoWrap PhotoWrapSmall" href="{{userUrl}}">
                      <img class="ProfilePhoto ProfilePhotoSmall" src="{{userImageUrl}}">
                  </a>
              {{/userImageUrl}}
                <a class="UserLink BlockTitle" href="{{userUrl}}">{{userName}}</a>
                <div class="Meta">
                    <a class="CommentDate MItem" href="{{userPostUrl}}">{{{userPostTime}}}</a>
                </div>
            </div>
        </td>
    {{/isUserCell}}
    {{#isLastPostCell}}
        <td class="BlockColumn LatestPost">
          {{#lastPostTitle}}
              <div class="Block Wrap">
                {{#lastPostImageUrl}}
                    <a class="PhotoWrap PhotoWrapSmall" href="{{lastPostUserUrl}}">
                        <img class="ProfilePhoto ProfilePhotoSmall" src="{{lastPostImageUrl}}">
                    </a>
                {{/lastPostImageUrl}}
                  <a class="BlockTitle LatestPostTitle" href="{{lastPostUrl}}">{{lastPostTitle}}</a>
                  <div class="Meta">
                      <a class="UserLink MItem" href="{{lastPostUserUrl}}">{{lastPostUserName}}</a>
                      <span class="Bullet">•</span>
                      <a class="CommentDate MItem" href="{{lastPostUrl}}">{{lastPostTime}}</a>
                    {{#lastPostCategoryName}}
                        <span>
                    {{#t}}in{{/t}} <a href="{{lastPostCategoryUrl}}">{{lastPostCategoryName}}</a>
                  </span>
                    {{/lastPostCategoryName}}
                  </div>
              </div>
          {{/lastPostTitle}}
        </td>
    {{/isLastPostCell}}
  {{/rows}}
</tr>
