<li id="{{id}}" class="Item {{cssClass}}">
{{#hasImage}}
    {{#imageUrl}}
    <a href="{{imageUrl}}" class="IndexPhoto PhotoWrap">
    {{/imageUrl}}
      <img class="ProfilePhoto ProfilePhotoMedium {{imageCssClass}}" src="{{imageSource}}" alt="{{imageAlt}}">
    {{#imageUrl}}
    </a>
    {{/imageUrl}}
{{/hasImage}}
  <span class="Options">
  {{#hasButtons}}
      <div class="Buttons {{buttonsCssClass}}">
        {{#buttons}}
          {{> button-legacy}}
        {{/buttons}}
      </div>
  {{/hasButtons}}
  {{#options}}
    {{> dropdown-legacy}}
  {{/options}}
  </span>
<div class="ItemContent {{bodyCssClass}}">
  {{#heading}}
    <div class="Title">
        {{#headingUrl}}
        <a href="{{headingUrl}}">
        {{/headingUrl}}
        {{heading}}
        {{#headingUrl}}
        </a>
        {{/headingUrl}}
    </div>
  {{/heading}}
    <div class="Excerpt {{textCssClass}}">{{text}}</div>
  {{#hasMeta}}
      <div class="Meta {{metaCssClass}}">
        {{#meta}}
          {{> metaitem}}
        {{/meta}}
      </div>
  {{/hasMeta}}
  {{#hasMediaList}}
    {{> medialist-modern}}
  {{/hasMediaList}}
</div>
</li>
