<ul class="nav {{navCssClass}}">
  {{#items}}
      {{#isGroup}}
          <li role="presentation" class="header {{headerCssClass}}">
            {{#headerIcon}}{{#icon}}{{headerIcon}}{{/icon}}{{/headerIcon}}
            {{headerText}}
            {{#headerBadge}}{{#badge}}{{headerBadge}}{{/badge}}{{/headerBadge}}
          </li>
      {{/isGroup}}
      {{#isLink}}
          <li role="presentation" {{#listItemCssClass}}class="{{listItemCssClass}}"{{/listItemCssClass}}>
              <a class="{{linkCssClass}}" href="{{linkUrl}}">{{> link-text}}</a>
          </li>
      {{/isLink}}
      {{#isDivider}}
          <li role="presentation" class="divider {{dividerCssClass}}"></li>
      {{/isDivider}}
      {{#isDropdown}}
        {{#dropdownmenu}}
          {{>dropdown}}
        {{/dropdownmenu}}
      {{/isDropdown}}
      {{#hasChildren}}
          <li role="presentation" {{#listItemCssClass}}class="{{listItemCssClass}}"{{/listItemCssClass}}>
            {{>nav}}
          </li>
      {{/hasChildren}}
  {{/items}}
</ul>

